.Archive-right-container {
	display: grid;
}
.Archive-cards-container > div:nth-child(1) {
	display: grid;
	font-family: "Poppins";
	font-weight: 600;
	font-size: x-large;
	margin-left: 1.3rem;
	padding-top: 1.5rem;
	justify-content: center;
}
.Archive-cards-container > div:nth-child(2) {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
	padding: 5px 5px 5px 0;
}

.Archive-card-heading {
	padding: 5px;
	font-weight: 600;
	font-size: 0.89rem;
	display: grid;
	grid-template-columns: 85% 15%;
}
.Archive-card-heading > div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Archive-card-label {
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
}
.Archive-card-bottom {
	font-size: x-small;
}
.Archive-card-label > div {
	border-radius: 5px;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	font-size: 5px;
	line-height: 16px;
	color: white;
	height: 1rem;
	background: #60a5fa;
}
.Archive-card-date {
	font-size: xx-small;
}
.Archive-empty {
	grid-column: 1/6;
	display: grid;
	justify-content: center;
	margin-top: 1.3rem;
	font-size: x-large;
}
