.Modal {
	position: absolute;
	z-index: 1;
	background-color: whitesmoke;
	top: 3rem;
	left: 40%;
	width: 25rem;
	max-height: 99vh;
	border: 2px solid #000;
}

.Overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
.Modal-form-container {
	display: grid;
	margin: 10px;
}
.Modal-form-heading {
	padding: 0 5px;
	display: grid;
	grid-template-columns: 92% 8%;
}
.Modal-form-heading > div:nth-child(1) {
	font-weight: 700;
	font-size: larger;
}
/* Close button */
.Modal-form-heading > div:nth-child(2) {
	cursor: pointer;
}
.Modal-form-fields {
	padding: 3px;
}
.Modal-form-fields-headings {
	font-weight: 600;
	font-size: x-small;
}
.Modal-form-fields input {
	font-family: "Poppins";
	outline: none;
	width: 96.5%;
	height: 1rem;
	margin-right: 5px;
}
.Modal-form-fields .Modal-form-input {
	width: 96%;
}
.Modal-form-dropdown {
	border: 1px solid #d0d0d0;
	width: 98%;
}
.Modal-labels {
	display: grid;
	font-family: "Poppins";
	font-size: x-small;
}
.Modal-labels > label {
	height: 20%;
}
.Modal-labels > label {
	display: grid;
	grid-template-columns: 10% 90%;
}
.Modal-form-button {
	display: grid;
	justify-content: end;
	grid-template-columns: 42% 30% 4% 20% 4%;
}
.Modal-form-button :nth-child(1) {
	grid-column: 2/3;
	background-color: white;
	font-family: "Poppins";
	color: #5348c7;
	border: none;
	padding: 1px 10px;
	cursor: pointer;
}
.Modal-form-button :nth-child(2) {
	grid-column: 4/5;
	background-color: #5348c7;
	font-family: "Poppins";
	color: white;
	border: none;
	padding: 1px 10px;
	cursor: pointer;
}
.error-msg {
	color: red;
	font-size: xx-small;
	text-align: center;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
