.Login-container {
	display: grid;
}
.Login-form {
	display: grid;
	text-align: center;
	justify-self: center;
	align-self: center;
	background-color: white;
	color: black;
	width: 25rem;
	border-radius: 2rem;
	box-shadow: 0px 4px 40px rgba(9, 7, 27, 0.08);
	font-family: "Poppins";
}
.Login-form > div:nth-child(1) > h1 > span {
	font: "Poppins";
	color: #5348c7;
	font-weight: 700;
}

.Login-form > div:nth-child(1) {
	height: 4rem;
}

.label {
	display: block;
	font-size: small;
	color: black;
	padding: 5px;
	margin-left: 5rem;
	text-align: start;
}

.input {
	font-size: medium;
	padding: 5px;
	margin: 2px;
	width: 55%;
	outline: none;
}

.btn {
	color: white;
	background-color: #5348c7;
	border-radius: 5px;
	font-size: medium;
	display: block;
	padding: 5px;
	margin: 10px auto;
	cursor: pointer;
}
.error-msg {
	margin: 2px;
	height: 10px;
	color: red;
	font-size: x-small;
	font-weight: 600;
}
.bottom-label {
	margin: 10px 0 0 0;
	text-align: center;
	font-size: small;
	font: "Poppins";
}
.guest-user {
	color: #5348c7;
	background-color: #fff;
}
.guest-user:hover {
	cursor: pointer;
	box-shadow: 1px 1px 0 0 black;
}
